.div {
	display: inline-block;
	box-sizing: border-box;
	margin-right: 5px;
	border-radius: 20px;

}

.small {
	padding: 5px 12px;
	font-size: 12px;
	line-height: 12px;
}

.large {
	padding: 5px 12px;
	font-size: 14px;
	line-height: 14px;
}

.ghost {
	border: 1px solid var(--gray-light);
}

.red {
	color: var(--white);
	background-color: var(--red);
	font-weight: bold;
}
.gray {
	color: var(--white);
	background-color: var(--gray-bgc);
	font-weight: bold;
}

.green {
	color: var(--green);
	background-color: var(--green-light);
	font-weight: bold;
}

.primary {
	padding: 2px 10px;
	color: var(--primary);
	background-color: transparent;
	border: 1px solid var(--primary);
}