:root {
	--black: #3B434E;
	--white: white;
	--primary: #7653FC;
	--primary-hover: #623EF1;
	--red: #DE0000;
	--red-light: #FC836D;
	--green: #1DC37E;
	--green-light: #C8F8E4;
	--gray-bgc: #B3C0D9;
	--gray-light: #EBEBEB;
	--color-anzac: #DCB44E;
	--font-family: "Noto Sans Display", sans-serif;
}

html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);

	background: var(--white);

	font-family: var(--font-family);
	font-weight: 400;
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}
